@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
  font-family: "Roboto", sans-serif;
  // font-family: "Poppins", sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input {
  width: 100%;
  border: none;
  outline: none;
}

@keyframes example {
  33% {
    background-color: yellow;
  }

  50% {
    background-color: #006ff8;
  }
}

.container {
  // height: 100%;
  padding: 15px;
}

.calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #eaecef;

  &-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 2px solid #eaecef;

    &-item {
      padding: 15px 0px;

      &:last-child {
        border-right: none;
      }

      p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  &-month {
    flex-grow: 1;
    display: grid;
    // grid-template-rows: repeat(5, 1fr);
    grid-template-rows: repeat(5, 215px);
    background-color: #fafcfe;
  }

  &-week {
    position: relative;
  }

  &-event {
    &-container {
      position: absolute;
      top: 41px;
      right: 0;
      left: 0;
      bottom: 0;

      display: grid;
      grid-template-columns: repeat(7, 1fr);
      column-gap: 4px;
    }

    &-cell {
      position: relative;

      &.event-over {
        background-color: #e5f9fde0;
      }

      .event {
        position: absolute;
        left: 0;
        cursor: pointer;
        z-index: 100;

        &:hover .event-container::before {
          // animation: changelabelColor 1s infinite;
          animation: example 0.75s infinite;
        }

        &-container {
          position: relative;
          padding: 5px 20px;
          border-radius: 5px;
          background-color: white;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

          &::before {
            content: "";
            position: absolute;
            top: 7px;
            left: 6px;
            bottom: 7px;
            width: 5px;
            background-color: #ff5730;
            border-radius: 5px;
          }
        }

        &-title {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;

          font-weight: 600;
          color: #343b46;

          span {
            display: inline-block;
            margin-right: 10px;
            color: #a4a9b7;
          }
        }

        &-more {
          font-weight: 600;
        }
      }
    }
  }

  &-day-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 2px solid #eaecef;
    height: 100%;

    &:last-child {
      border-bottom: none;
    }

    .calendar-day:last-child {
      border-right: none;
    }
  }

  &-day {
    font-size: 14px;
    padding: 10px 8px;
    border-right: 2px solid #eaecef;

    &-header {
      display: flex;
      justify-content: center;
      font-weight: 700;
      text-align: right;
      margin-bottom: 10px;

      &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
      }

      .other-month {
        color: #a4a9b7;
      }

      .current-month {
        color: #020204;
      }

      .current-day {
        color: red;
      }
    }

    &-content {
      position: relative;
    }
  }
}

// Modal

.modal {
  position: absolute;
  inset: 0;
  z-index: 999;

  &-shadow {
    width: 100%;
    height: 100%;
    background-color: #0000006b;
  }

  &-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    max-width: 660px;
    width: calc(100% - 20px);
    padding: 15px;
    background-color: white;
  }

  &-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    p {
      font-weight: 600;
      font-size: 20px;
    }
  }

  &-hidden {
    display: none;
  }
}

.event-modal {
  width: 100%;

  .input {
    margin-bottom: 15px;
  }
}

.input {
  &-label {
    margin-bottom: 5px;
  }

  &-tag {
    border: 1px solid black;
    padding: 5px 10px;
  }

  &-error {
    display: inline-block;
    margin-top: 5px;
    color: red;
  }
}

.icon {
  cursor: pointer;
}
